@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Nosifer");

body{
  background-color:#FFF333;
}
.botoNombre{
  border-width: 3px;
  border-radius: 10px;
  border-color: #000000;
  image-orientation: -8px;
  background-color: #F2EC98;
  width: 200px;
  height: 50px;
  box-shadow: 2px 2px 7px 1px #13923B;
  position: fixed;
  top: 400px;
  left: 700px;

}

.botoNombre:hover{
  background-color: #FFF333;
  padding-bottom: 5px;
  transition: 0.2s;
}
.nombre{
  border-width: 5px;
  border-radius: 20px;
  border-color: #000000;
  background-color:#FFF333;
  text-align: center;
  width: 30%;
  padding: 20px;
  position: fixed;
  top: 250px;
  left: 550px;
  box-shadow: 2px 2px 7px 1px #13923B;
  font-size: 20px;
  font-family: "Nosifer";
  color:#13923B;

}

.bienvenidaNombre{
  font-family: "Finger Paint";
  position: fixed;
  top: 10px;
  left: 750px;
  color: #13923B;
  text-align: center;
}

.linkCodigo {
    width: 100%;
    font-size: 22px;
    font-family: "Nosifer";
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    margin-top: 100px;

}

.linkCodigo a {
    text-decoration: none;
    text-align: center;
    color: #13923B;
    margin-left: 10px;
    margin-right: 10px;
}

.linkCodigo a:hover {
    border-bottom: 2px solid #044117;
    color: #044117;
    padding-bottom: 5px;
    transition: 0.3s;
}
.cajaMensajeCifrar{
  font-family: "Finger Paint";
  text-align: center;
  font-size: 40px;
  color: #13923B;
  position: fixed;
  top: 210px;
  left: 90px;
  width: 360px;
  height: 530px;
  opacity: 0.7;
  background-color: #FFF333;
}

.cajaMensajeDescifrar{
  font-family: "Finger Paint";
  text-align: center;
  font-size: 40px;
  color: #13923B;
  position: fixed;
  top: 210px;
  left: 90px;
  width: 360px;
  height: 530px;
  opacity: 0.7;
  background-color: #FFF333;
}

.contenidoDesplazamiento{
  position: fixed;
  top: 300px;
  left: 900px;
}
.numerOffsetCifrar_style{
  width: 70px;
  font-family: "Finger Paint";
  font-size: 30px;
  color: #13923B;
  background-color: #FFF333;
  height: 30px;
}
.contenidoDesplazamientoDescifrar{
  position: fixed;
  top: 300px;
  left: 900px;
}

.numerOffsetDescifrar_style{
  width: 70px;
  font-family: "Finger Paint";
  font-size: 30px;
  color: #13923B;
  background-color: #FFF333;
  height: 30px;
}
.botonCifrar{
  border-width: 3px;
  border-radius: 10px;
  border-color: #000000;
  image-orientation: -8px;
  background-color: #FFF333;
  width: 150px;
  height: 50px;
  box-shadow: 2px 2px 7px 1px #13923B;
  position: fixed;
  top: 400px;
  left: 880px;
}
.botonDescifrar{
  border-width: 3px;
  border-radius: 10px;
  border-color: #000000;
  image-orientation: -8px;
  background-color: #FFF333;
  width: 150px;
  height: 50px;
  box-shadow: 2px 2px 7px 1px #13923B;
  position: fixed;
  top: 400px;
  left: 880px;
}
.checarResultado{
  font-family: "Finger Paint";
  text-align: center;
  font-size: 40px;
  color: #13923B;
  position: fixed;
  top: 190px;
  left: 480px;
  width: 360px;
  height: 530px;
}

.checarResultadoDescifrado{
  font-family: "Finger Paint";
  text-align: center;
  font-size: 40px;
  color: #13923B;
  position: fixed;
  top: 190px;
  left: 480px;
  width: 360px;
  height: 530px;
}

.btn_reload{
  font-family: "Nosifer";
  text-align: center;
  font-size: 30px;
  color: #13923B;
  border-width: 3px;
  border-radius: 10px;
  border-color: #000000;
  background-color: #FFF333;
  width: 150px;
  height: 50px;
  box-shadow: 2px 2px 7px 1px #13923B;
  position: fixed;
  top: 500px;
  left: 880px;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}
